.signup {
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  bottom: 20px;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 19px 29px 4px rgba(105, 174, 211, 0.75);
  -webkit-box-shadow: 10px 19px 29px 4px rgba(105, 174, 211, 0.75);
  -moz-box-shadow: 10px 19px 29px 4px rgba(105, 174, 211, 0.75);
  overflow-y: auto;

  .signupTop {
    position: relative;
    max-width: 200px;
    margin: auto;

    .signUpImg {
      max-width: 200px;
      border-radius: 50%;
      object-fit: cover;
      display: block;
    }

    .signUpInputImg {
      display: none;
    }

    .signUpLabelImg {
      position: absolute;
      top: 5px;
      right: 10px;
      cursor: pointer;
    }
  }

  .signUpBottom {
    height: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .inputText {
      height: 40px;
      width: 300px;
      border-radius: 10px;
      border: 1px solid gray;
      font-size: 18px;
      padding-left: 20px;
    }

    .inputText:focus {
      outline: none;
    }

    button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        border: none;
        font-size: 15px;
        font-weight: 300;
        background-color: blue;
        color: white;
        cursor: pointer;
    }
  }
}
