.errorPage{
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 19px 29px 4px rgba(105, 174, 211, 0.75);
    -webkit-box-shadow: 10px 19px 29px 4px rgba(105, 174, 211, 0.75);
    -moz-box-shadow: 10px 19px 29px 4px rgba(105, 174, 211, 0.75);
    overflow-y: auto;
}